---
import Layout from "../layouts/Layout.astro";
import Inicio from "../components/Inicio.astro";
import Experiencia from "../components/Experiencia.astro"
import About from "../components/Experiencia.astro"
import CV from "../components/CV.astro"
import Sobre from "../components/Sobre.astro"
import Proyectos from "../components/Proyectos.astro";
import Tecnologias from "../components/Tecnologias.astro";
---

<Layout title="Portafolio.">
	<main class="flex flex-col items-center justify-center">
		<Inicio></Inicio>
		<Experiencia></Experiencia>
		<Sobre></Sobre>
		<CV></CV>
		<Proyectos></Proyectos>
		<Tecnologias class="astro"></Tecnologias>
	</main>
</Layout>

<style>	
</style>
