---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portafolio.">
	<main >
		<section id="Inicio" class="w-full mx-auto flex flex-col py-36 px-64 gap-x-5">
			<div>
				<h1 class="text-4xl">Hola,<span> soy Joel</span></h1> 
				<small class="">Desarrollador FullStack</small>
			</div>
				<!-- <img src="../../public/profile.jpg" class="rounded-full w-32 ml-10"> -->
				<p class="text-pretty text-sm ">Desarrollador de software especializado en dar soluciones creativas e innovadoras a distintas aplicaciones.</p>
		</section>
	</main>
</Layout>

<style>

</style>
