---
import Layout from "../layouts/Layout.astro";
import Inicio from "../components/Inicio.astro";
import Experiencia from "../components/Experiencia.astro"
import About from "../components/Experiencia.astro"
import CV from "../components/CV.astro"
import Sobre from "../components/Sobre.astro"
---

<Layout title="Portafolio.">
	<main class="flex flex-col items-center justify-center">
		<Inicio></Inicio>
		<Experiencia></Experiencia>
		<Sobre></Sobre>
		<CV></CV>
	</main>
</Layout>
<style>	

</style>
