---
import Correo from "../icons/Correo.astro"
import Phone from "../icons/Phone.astro"
import Linkedin from "../icons/Linkedin.astro"
import Github from "../icons/Github.astro"
---

<footer class="flex flex-col w-full justify-center pb-6 gap-y-4 items-center py-5">
    <h1 class="text-2xl font-semibold text-yellow-400 mb-4">
        ¿Interesado en trabajar conmigo? <span class="text-white">¡Contáctame!</span>
    </h1>
    <div class="flex flex-row gap-x-6 items-center">
        <!-- Enlace de correo electrónico -->
        <a href="mailto:ramos.germanj22@gmail.com" class="flex items-center gap-2 border-4 border-yellow-400 rounded-lg p-4 transition-transform duration-300 ease-in-out hover:bg-yellow-400 hover:text-black hover:shadow-[0_0_10px_rgba(255,255,255,0.5)] hover:scale-105">
            <Correo class="w-5 h-5"></Correo>
            <span>ramos.germanj22@gmail.com</span>
        </a>
        <!-- Enlace de teléfono -->
        <a href="tel:+573178192801" class="flex items-center gap-2 border-4 border-white rounded-lg p-4 transition-transform duration-300 ease-in-out hover:bg-white hover:text-black hover:shadow-[0_0_10px_rgba(255,255,0,0.5)] hover:scale-105">
            <Phone class="w-5 h-5"></Phone>
            <span>+57 3178192801</span>
        </a>
        <!-- Enlace de LinkedIn -->
        <a href="https://www.linkedin.com/in/german-joel-ramos/" class="flex items-center gap-2 border-4 border-yellow-400 rounded-lg p-4 transition-transform duration-300 ease-in-out hover:bg-yellow-400 hover:text-black hover:shadow-[0_0_10px_rgba(255,255,255,0.5)] hover:scale-105">
            <Linkedin class="w-5 h-5"></Linkedin>
            <span>LinkedIn</span>
        </a>
        <!-- Enlace de GitHub -->
        <a href="https://github.com/JoelRamos22" class="flex items-center gap-2 border-4 border-white rounded-lg p-4 transition-transform duration-300 ease-in-out hover:bg-white hover:text-black hover:shadow-[0_0_10px_rgba(255,255,0,0.5)] hover:scale-105">
            <Github class="w-5 h-5"></Github>
            <span>GitHub</span>
        </a>
    </div>
</footer>
