---
import Correo from "../icons/Correo.astro"
import Phone from "../icons/Phone.astro"
---

<footer class="flex flex-col">
    <h1>¿Interesado en trabajar conmigo? !Contactame¡ :</h1>
    <div>
        <Correo></Correo>
        <Phone></Phone>
    </div>
</footer>