---
import Github from "../icons/Github.astro";
import Linkedin from "../icons/Linkedin.astro";


---

<header class="sticky top-0 flex justify-center gap-x-32 mt-4 opacity-100 backdrop-blur-sm z-10">
    <img src="./Portafolio/caballerito.jpg" class="rounded-3xl w-9 h-9">
    <nav class="flex flex-row items-center gap-x-7 text-base font-semibold">
        <a href="#Experiencia" class="p-2 transition-transform hover:text-white hover:bg-yellow-500 hover:opacity-100 hover:scale-110 hover:rounded-md hover:shadow-lg cursor-pointer">Experiencia</a>
        <a href="" class="p-2 transition-transform hover:text-white hover:bg-yellow-500 hover:opacity-100 hover:scale-110 hover:rounded-md hover:shadow-lg cursor-pointer">Proyectos</a>
        <a href="#Sobre" class="p-2 transition-transform hover:text-white hover:bg-yellow-500 hover:opacity-100 hover:scale-110 hover:rounded-md hover:shadow-lg cursor-pointer">Sobre mí</a>
    </nav>
    <nav class="flex flex-row items-center gap-x-2 text-sm">
        <a href="https://www.linkedin.com/in/german-joel-ramos/" class="p-2 transition-transform hover:text-white hover:bg-yellow-500 hover:opacity-100 hover:scale-110 hover:rounded-md hover:shadow-lg cursor-pointer">
            <Linkedin></Linkedin>
        </a>
        <a href="https://github.com/JoelRamos22" class="p-2 transition-transform hover:text-white hover:bg-yellow-500 hover:opacity-100 hover:scale-110 hover:rounded-md hover:shadow-lg cursor-pointer">
            <Github></Github>
        </a>
    </nav>
</header>

