---
import Github from "../icons/Github.astro";
import Linkedin from "../icons/Linkedin.astro";


---

<header class="sticky top-0 flex justify-center gap-x-32 py-3 opacity-100 backdrop-blur-sm z-10">
    <img src="./caballerito.jpg" class="rounded-3xl w-9 h-9">
    <nav class="flex flex-row items-center gap-x-7 text-base font-semibold">
        <a href="#Experiencia" class="p-2 transition-transform cursor-pointer hover:bg-gradient-to-r hover:from-yellow-400 hover:to-yellow-600 hover:rounded hover:text-white hover:scale-105 focus:outline-none focus:ring-2 focus:ring-yellow-300">
            Experiencia
        </a>
        <a href="#Proyectos" class="p-2 transition-transform cursor-pointer hover:bg-gradient-to-r hover:from-yellow-400 hover:to-yellow-600 hover:text-white hover:rounded hover:scale-105 focus:outline-none focus:ring-2 focus:ring-yellow-300">
            Proyectos
        </a>
        <a href="#Sobre" class="p-2 transition-transform cursor-pointer hover:bg-gradient-to-r hover:from-yellow-400 hover:to-yellow-600 hover:text-white hover:scale-105 hover:rounded focus:outline-none focus:ring-2 focus:ring-yellow-300">
            Sobre mí
        </a>
    </nav>
    <nav class="flex flex-row items-center gap-x-2 text-sm">
        <a href="https://www.linkedin.com/in/german-joel-ramos/"  target="_blank" class="p-2 transition-transform cursor-pointer hover:bg-gradient-to-r hover:from-yellow-400 hover:to-yellow-600 hover:rounded hover:text-white hover:scale-105 focus:outline-none focus:ring-2 focus:ring-yellow-300">
            <Linkedin></Linkedin>
        </a>
        <a href="https://github.com/JoelRamos22" target="_blank" class="p-2 transition-transform cursor-pointer hover:bg-gradient-to-r hover:from-yellow-400 hover:to-yellow-600 hover:text-white hover:rounded hover:scale-105 focus:outline-none focus:ring-2 focus:ring-yellow-300">
            <Github></Github>
        </a>
    </nav>
</header>

