---
import Github from "../icons/Github.astro";
import Linkedin from "../icons/Linkedin.astro";


---

<header class="sticky top-0 flex justify-center gap-x-32 mt-3 opacity-80 backdrop-blur-sm z-10">
    <img src="../../public/caballerito.jpg" class="rounded-3xl w-7 h-7">
    <nav class=" flex flex-row items-center gap-x-7 text-xs font-semibold ">
        <a href="" class="p-2 hover:text-white hover:opacity-100 hover:scale-110 transition-transform">Experiencia</a>
        <a href="" class="p-2 hover:text-white hover:opacity-100 hover:scale-110 transition-transform">Proyectos</a>
        <a href="" class="p-2 hover:text-white hover:opacity-100 hover:scale-110 transition-transform">Sobre mi</a>
    </nav>
    <nav class="flex flex-row items-center gap-x-2 text-xs ">
        <a href="https://www.linkedin.com/in/german-joel-ramos/" class="p-2 hover:text-white hover:opacity-100 hover:scale-110 transition-transform">
            <Linkedin></Linkedin>
        </a>
        <a href="https://github.com/JoelRamos22" class="p-2 hover:text-white hover:opacity-100 hover:scale-110 transition-transform">
            <Github></Github>
        </a>
    </nav>
</header>