---
import Github from "../icons/Github.astro"
import Linkedin from "../icons/Linkedin.astro"
import Correo from "../icons/Correo.astro"
---
<section
id="Inicio"
class="w-full max-w-2xl mx-auto flex flex-col justify-center items-center text-center gap-2 py-20 mt-4"
>
<h1 class="text-5xl font-semibold">
    Hola, <span class="text-yellow-400">soy Joel</span>
</h1>
<small class="text-base p-2 font-medium"
    >Desarrollador FullStack 🚀</small
>
<p class="text-pretty text-lg mt-6 font-normal">
    Desarrollador de software <span class="text-yellow-400"
        >especializado en dar soluciones creativas e innovadoras a
        distintas aplicaciones</span
    >. Me encanta conocer y trabajar con gente nueva. Es un gusto
    poder colaborar y resolver cualquier duda.
</p>
<img
    src="./Portafolio/profile.jpg"
    class="rounded-full w-52 mt-6"
/>
<nav class="flex gap-x-3 mt-6 opacity-85 flex-row">
    <a  href="https://github.com/JoelRamos22" class="transition-transform duration-300 ease-in-out hover:scale-105 hover:shadow-lg ">
        <span class="border border-yellow-400 text-sm font-medium px-5 py-2 rounded flex flex-row gap-x-2 justify-center items-center">Github <Github class="w-5" ></Github></span>
      </a>
      <a href="https://www.linkedin.com/in/german-joel-ramos/" class="transition-transform duration-300 ease-in-out hover:scale-105 hover:shadow-lg">
        <span class="border border-yellow-400 text-sm font-medium px-5 py-2 rounded flex flex-row gap-x-2">Linkedin <Linkedin class="w-5"></Linkedin></span>
      </a>
      <a href="ramos.germanj22@gmail.com" class="transition-transform duration-300 ease-in-out hover:scale-105 hover:shadow-lg">
        <span class="border border-yellow-400 text-sm font-medium px-5 py-2 rounded flex flex-row gap-x-2">ramos.germanj22@gmail.com <Correo class="w-5" ></Correo></span>
      </a>
</nav>
<a href="#Experiencia" class="mt-12 px-6 py-3 text-yellow-400 border border-yellow-400 rounded-lg bg-transparent shadow-lg transition-colors duration-300 ease-in-out hover:bg-gradient-to-r hover:from-yellow-400 hover:to-yellow-600 hover:text-white hover:scale-105 focus:outline-none focus:ring-2 focus:ring-yellow-300">
    Experiencia y estudios
</a>
</section>