---
import Code from "../icons/Code.astro";
---

<section id="Proyectos"
  class="w-full max-w-3xl mx-auto flex flex-col gap-y-5 py-10 mt-4 scroll-mt-[68px]">
    <h1 class="text-4xl font-semibold flex items-center gap-2">
        Proyectos <Code class=""></Code>
    </h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-5 bg-opacity-5">
        <!-- Proyecto 1 -->
        <a href="https://joelramos22.github.io/SpaceX/" target="_blank" rel="noopener noreferrer" class="hover:scale-105 transition-transform duration-300">
          <div class="bg-gray-600 bg-opacity-30 rounded-3xl backdrop-blur-lg shadow-md">
            <img src="./Space X.png" class="rounded-3xl w-full h-56">
            <div class="flex flex-col p-4 gap-y-4">
              <div>
                  <h3 class=" text-yellow-400 font-bold text-lg">Space X</h3>
                  <p class="text-white text-pretty">Construccion Api Space X para los lanzamientos para recientes de la plataforma junto con su frontend para la visualizacion mediante web components. </p>
              </div>
              <nav class="flex flex-row gap-y-1.5 flex-wrap">
                  <span class="text-xs font-medium me-2 px-5 py-1 rounded-3xl dark:bg-transparent dark:text-yellow-400 border border-yellow-400">HTML</span>
                  <span class="text-xs font-medium me-2 px-5 py-1 rounded-3xl dark:bg-transparent dark:text-yellow-400 border border-yellow-400">CSS</span>
                  <span class="text-xs font-medium me-2 px-5 py-1 rounded-3xl dark:bg-transparent dark:text-yellow-400 border border-yellow-400">JavaScript</span>
                  <span class="text-xs font-medium me-2 px-5 py-1 rounded-3xl dark:bg-transparent dark:text-yellow-400 border border-yellow-400">Node.js</span>
              </nav>
          </div>
          </div>
        </a>
        <a href="https://joelramos22.github.io/proyectoWeb/" target="_blank">
            <div class="bg-gray-600 bg-opacity-30 rounded-3xl backdrop-blur-lg shadow-md hover:scale-105 transition-transform duration-300">
                <img src="./Eccomerce.png" class="rounded-3xl w-full h-56">
                <div class="flex flex-col p-4 gap-y-4">
                    <div>
                        <h3 class=" text-yellow-400 font-bold text-lg">Eccomerce</h3>
                        <p class="text-white text-pretty">Eccomerce consumiendo datos desde una API de ropa con proceso y añadido de carrito de ventas construido con Web Components creados con la libreria LIT.</p>
                    </div>
                    <nav class="flex flex-row gap-y-1.5 flex-wrap">
                        <span class="text-xs font-medium me-2 px-5 py-1 rounded-3xl dark:bg-transparent dark:text-yellow-400 border border-yellow-400">HTML</span>
                        <span class="text-xs font-medium me-2 px-5 py-1 rounded-3xl dark:bg-transparent dark:text-yellow-400 border border-yellow-400">CSS</span>
                        <span class="text-xs font-medium me-2 px-5 py-1 rounded-3xl dark:bg-transparent dark:text-yellow-400 border border-yellow-400">LIT</span>
                        <span class="text-xs font-medium me-2 px-5 py-1 rounded-3xl dark:bg-transparent dark:text-yellow-400 border border-yellow-400">JsonServer</span>
                        <span class="text-xs font-medium me-2 px-5 py-1 rounded-3xl dark:bg-transparent dark:text-yellow-400 border border-yellow-400">Node.js</span>
                    </nav>
                </div>
            </div>
        </a>
        <!-- Proyecto 5 (más grande) -->
        <div class="bg-gray-600 bg-opacity-30 rounded-3xl backdrop-blur-lg shadow-md md:col-span-2 flex hover:scale-105 transition-transform duration-300">
            <div class="flex flex-col p-4 gap-y-2 justify-center">
                <h3 class="text-yellow-400 font-bold text-lg">Cine</h3>
                <p class="text-white text-pretty">Plataforma para un cine con su diseño frontend realizado por astro y tailwindCSS, junto son su backend realizado por Node.js y express.js para el desarrollo de la api se aplica modelo vista controlador y el uso de MongoDB para la base de datos.</p>
                <nav class="flex flex-row gap-y-1.5 flex-wrap">
                    <span class="text-xs font-medium me-2 px-5 py-1 rounded-3xl dark:bg-transparent dark:text-yellow-400 border border-yellow-400">HTML</span>
                    <span class="text-xs font-medium me-2 px-5 py-1 rounded-3xl dark:bg-transparent dark:text-yellow-400 border border-yellow-400">Tailwind.css</span>
                    <span class="text-xs font-medium me-2 px-5 py-1 rounded-3xl dark:bg-transparent dark:text-yellow-400 border border-yellow-400">Astro.js</span>
                    <span class="text-xs font-medium me-2 px-5 py-1 rounded-3xl dark:bg-transparent dark:text-yellow-400 border border-yellow-400">Node.js</span>
                    <span class="text-xs font-medium me-2 px-5 py-1 rounded-3xl dark:bg-transparent dark:text-yellow-400 border border-yellow-400">Express.js</span>
                </nav>
            </div>
          <img src="./Cine.png" class="rounded-3xl mb-4 h-full w-80 items-center">
        </div>
    </div>
</section>
