---
import User from "../icons/User.astro"
---
<section id="Sobre"
class="w-full max-w-3xl mx-auto flex flex-row items-center gap-x-5 py-16 mt-4">
<div class="flex justify-center flex-col ">
    <h1 class="text-4xl font-semibold flex items-center gap-2">
        Sobre mí <User></User>
    </h1>
    <p class="text-pretty text-base mt-6 font-normal w-full">
        Me llamo Joel Ramos soy un desarrollador colombiano de 18 años. Mi primer acercamiento a la programacion fue gracias a mi padre que es un ingeniero en sistemas, 
        desde entonces he estado encantado con la posibilidad de poder crear cosas por medio de mis conocimientos. 
    </p>
    <p class="text-pretty text-base mt-6 font-normal">
        Hoy en dia me encuentro estudiando Desarrollo de Software en Campuslands y en una universidad tecnologica de Bucaramanga, me gusta mucho el contribuir en la creacion de nuevas ideas
        y soluciones innovadoras.
    </p>
    <p class="text-pretty text-base mt-6 font-normal">
        Deseo poder llegar a ser recocido como un Desarrollador importante al rededor del mundo con grandes proyectos exitosos bajo mi nombre, mi mayor objetivo es poder mejorar la calidad
        de vida de mi familia. Tengo capacidades para el desarrollo web, manejo de bases de datos y gestion de equipos. 
    </p>
    <p class="text-pretty text-base mt-6 font-normal">
        Espero te agrade mi perfil y podamos llegar a trabajar juntos 😄.
    </p>
</div>
<div class="flex items-center">
    <img src="./Portafolio/profile.jpg" class="rounded-full w-30 h-30">
</div>
</section>