---
import CPU from "../icons/CPU.astro"
import Html from "../icons/Html.astro"
import Css from "../icons/Css.astro"
import IconAstro from "../icons/IconAstro.astro"
import Tailwind from "../icons/Tailwind.astro"
import LIT from "../icons/LIT.astro"
import Javascript from "../icons/Javascript.astro"
import Node from "../icons/Node.astro"
import Mysql from "../icons/Mysql.astro"
import MongoDB from "../icons/MongoDB.astro"
import Express from "../icons/Express.astro"
import Python from "../icons/Python.astro"
import Flask from "../icons/Flask.astro"
---
<section id="Proyectos"
class="w-full max-w-3xl mx-auto flex flex-col gap-y-5 py-16 mt-4">
    <h1 class="text-4xl font-semibold flex items-center gap-2">
        Tecnologías <CPU class="astro"></CPU>
    </h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3 bg-opacity-5">
        <div class="bg-gray-600 bg-opacity-30 rounded-3xl backdrop-blur-lg shadow-md flex flex-col justify-center">
            <h2 class="text-yellow-400 text-2xl font-medium p-4">Frontend</h2>
            <div class="p-4 flex flex-wrap gap-x-10 justify-center gap-y-2">
                <div class="flex flex-col items-center">
                    <Html></Html>
                    <small class="font-normal text-base py-1">HTML</small>
                </div>
                <div class="flex flex-col items-center">
                    <Css></Css>
                    <small class="font-normal text-base py-1">CSS</small>
                </div>
                <div class="flex flex-col items-center">
                    <Tailwind></Tailwind>
                    <small class="font-normal text-base py-1">Tailwind</small>
                </div>
                <div class="flex flex-col items-center">
                    <IconAstro></IconAstro>
                    <small class="font-normal text-base py-1">Astro</small>
                </div>
                <div class="flex flex-col items-center">
                    <LIT class="astro"></LIT>
                    <small class="font-normal text-base py-1">LIT</small>
                </div>
                <div class="flex flex-col items-center">
                    <Javascript class="astro"></Javascript>
                    <small class="font-normal text-base py-1">JavaScript</small>
                </div>
            </div>
        </div>
        <div class="bg-gray-600 bg-opacity-30 rounded-3xl backdrop-blur-lg shadow-md flex flex-col justify-center">
            <h2 class="text-yellow-400 text-2xl font-medium p-4">Backend</h2>
            <div class="p-4 flex flex-wrap gap-x-10 justify-center gap-y-2">
                <div class="flex flex-col items-center">
                    <Node class="astro"></Node>
                    <small class="font-normal text-base py-1">Node.js</small>
                </div>
                <div class="flex flex-col items-center">
                    <Mysql class="astro"></Mysql>
                    <small class="font-normal text-base py-1">MySql</small>
                </div>
                <div class="flex flex-col items-center">
                    <MongoDB class="astro"></MongoDB>
                    <small class="font-normal text-base py-1">MongoDB</small>
                </div>
                <div class="flex flex-col items-center">
                    <Express class="ast"></Express>
                    <small class="font-normal text-base py-1">Express.js</small>
                </div>
                <div class="flex flex-col items-center">
                    <Python class="astro"></Python>
                    <small class="font-normal text-base py-1">Python</small>
                </div>
                <div class="flex flex-col items-center">
                    <Flask class="astro"></Flask>
                    <small class="font-normal text-base py-1">Flask</small>
                </div>
            </div>
        </div>
        <div class="bg-gray-600 bg-opacity-30 rounded-3xl backdrop-blur-lg shadow-md flex flex-col justify-center">
            <h2 class="text-yellow-400 text-2xl font-medium p-4">Herramientas</h2>
            <div class="p-4 flex flex-wrap gap-x-10 justify-center gap-y-2">
                <div class="flex flex-col items-center">
                    <Html></Html>
                    <small class="font-normal text-base py-1">Insomnia</small>
                </div>
                <div class="flex flex-col items-center">
                    <Css></Css>
                    <small class="font-normal text-base py-1">Git</small>
                </div>
                <div class="flex flex-col items-center">
                    <Tailwind></Tailwind>
                    <small class="font-normal text-base py-1 mt-1">Bash</small>
                </div>
                <div class="flex flex-col items-center">
                    <IconAstro></IconAstro>
                    <small class="font-normal text-base py-1">VS Code</small>
                </div>
                <div class="flex flex-col items-center">
                    <Javascript class="astro"></Javascript>
                    <small class="font-normal text-base py-1 mt-1">PowerShell</small>
                </div>
                <div class="flex flex-col items-center">
                    <Javascript class="astro"></Javascript>
                    <small class="font-normal text-base py-1 mt-1">Linux</small>
                </div>
                <div class="flex flex-col items-center">
                    <Javascript class="astro"></Javascript>
                    <small class="font-normal text-base py-1 mt-1">Compass</small>
                </div>
                <div class="flex flex-col items-center">
                    <Javascript class="astro"></Javascript>
                    <small class="font-normal text-base py-1 mt-1">Figma</small>
                </div>
                <div class="flex flex-col items-center">
                    <Javascript class="astro"></Javascript>
                    <small class="font-normal text-base py-1 mt-1">PostgreSql</small>
                </div>
            </div>
        </div>
        <div class="bg-gray-600 bg-opacity-30 rounded-3xl backdrop-blur-lg shadow-md flex flex-col justify-center">
            <h2 class="text-yellow-400 text-2xl font-medium p-4">Frontend</h2>
            <div class="p-4 flex flex-wrap gap-x-5 justify-center gap-y-2">
                <div class="flex flex-col items-center">
                    <Html></Html>
                    <small class="font-normal text-base py-1">HTML</small>
                </div>
                <div class="flex flex-col items-center">
                    <Css></Css>
                    <small class="font-normal text-base py-1">CSS</small>
                </div>
                <div class="flex flex-col items-center">
                    <Tailwind></Tailwind>
                    <small class="font-normal text-base py-1 mt-1">Tailwind</small>
                </div>
                <div class="flex flex-col items-center">
                    <IconAstro></IconAstro>
                    <small class="font-normal text-base py-1">Astro</small>
                </div>
                <div class="flex flex-col items-center">
                    <LIT class="astro"></LIT>
                    <small class="font-normal text-base py-1">LIT</small>
                </div>
                <div class="flex flex-col items-center">
                    <Javascript class="astro"></Javascript>
                    <small class="font-normal text-base py-1 mt-1">JavaScript</small>
                </div>
            </div>
        </div>
      </div>      
</section>