---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header></Header>
		<slot />
		<Footer></Footer>
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
	body {
		display: flex;
		flex-direction: column;
	}
	html {
		color: #F5F5F5;
		font-family: "Onest", sans-serif;
		background-image: radial-gradient(circle, #020617, #08071d, #100722, #170726, #1f0529);
		background-repeat: no-repeat;
		background-size: cover;
	}
	@keyframes show {
		from {
			opacity: 0; scale: 10%;
		}
		to {
			opacity: 1; scale: 100%;
		}
	}
	section {
			view-timeline-name: --reveal;
			animation-name: show;
			animation-fill-mode: both;
			animation-timeline: --reveal;
			animation-range: entry 20% cover 40%;
			animation-duration: 3ms;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
